.cart-card-container {

}

.cart-card{
    background-color: var(--color-primary-alternative);
    color: white;
    position: relative;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    margin:1em 0;
}

.card-delete-button{
    display: flex;
    background-color: var(--color-secundary);
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 8px var(--color-secundary);
    position: absolute;
    top: 0;
    right: 0;
    width: var(--floating-button-size);
    height: var(--floating-button-size);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.card-delete-button:hover{
    /* animation:spin .2s ease-in-out; */
    box-shadow: 0px 0px 15px var(--color-secundary);
}

.card-delete-button:active {
    font-size: 15px;
    background-color: var(--color-secundary-light);
}

.card-image-container {
    margin: 1em 0 1em 1em !important;
    padding: 0 0 0 0 !important;
    align-self: center;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 4.5em;
    height: 7em;
    align-content: flex-start;
    min-width: 4.5em;
}

.card-image {
    width: 7em;
    height: 10em;
}

.card-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em;
    align-items: center;
}

.card-quantity-button {
    background-color: var(--color-grey-dark);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: .3em;
    margin: .5em 0;
    border: none;
    display: flex;
    box-shadow: 0px 3px 2px #333333;
}

.card-quantity-button:active {
    transform: scale(0.9, 0.9);
}

.card-quantity-button > i {
    font-size: 15px;
}

.card-quantity-input {
    background: none;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.3em;
    width: 2em;
}

.card-quantity-input:focus {
    background: white;
    color: black;
    border: none;
    animation: fadein .5s ease;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    margin: 0 .2em 0 0;
}

.card-title {
    font-weight: 700;
    margin: 0 0 .3em 0;
}

.card-price {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0 .5em 0 0;
   min-width: 15%;
}

.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@media (max-width: 991px) { 

    .card-info {
        font-size: 15px;
    }

}